* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.nav {
  background-color: #96ceb4;
  color: #d9534f;
  width: 100;
  padding: 4rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  color: #d9534f;
  list-style: none;
  background-color: #ffeead;
  border-radius: 10px;
  padding: 3rem;
}

.nav p, 
.container p {
  margin-bottom: 2rem;
}

.item {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #d9534f;
  color: #ffeead;
  border-radius: 10px;
}
